

<link rel="stylesheet" href="{{ 'mega-menu.css' | asset_url }}" media="all">

<div class="header-megamenu-wrapper">
  <a
    style="text-decoration: none;"
    href="{{ link.url }}"
    class="header__menu-item list-menu__item list-menu__item-first link"
    {% if link.current %}
      aria-current="page"
    {% endif %}
    aria-label="{{ link.title | escape }}"
    aria-haspopup="menu"
    {% if link.type == 'http_link' and settings.open_new_tab %}
      target="_blank"
    {% endif %}
  >
    <span
      {% if link.active %}
        class="header__active-menu-item"
      {% endif %}
      title="{{ link.title | escape }}"
    >
      {{ link.title | escape }}
    </span>
  </a>
  <button
    type="button"
    id="mega-trigger-{{ link.handle }}"
    class="header__submenu-toggle visually-hidden"
    aria-expanded="false"
    aria-controls="mega-menu-{{ link.handle }}"
    aria-label="Open {{ link.title | escape }} submenu"
  >
    {%- render 'icon-caret' -%}
  </button>
</div>

<div
  id="mega-menu-{{ link.handle }}"
  class="header-mega-menu color-background-1 ctm-{{ link.title | downcase | replace: ' ', '-' }}"
  role="region"
  aria-labelledby="mega-trigger-{{ link.handle }}"
>
  <div class="fullscreen-container">
    
    <div class="header-mega-menu__layout">
      

      <div class="header-mega-menu__left">
        <div class="ctm-megamenu-hover-links-content">
          <div class="ctm-megamenu-image-column">
            <div class="ctm-megamenu-image-slide-wrapper">
              <div
                class="ctm-megamenu-image-slide {% if forloop.first %}active{% endif %}"
                data-index="{{ forloop.index0 }}"
              >
                <img
                  src="{{ block.settings.left_image | image_url: width: 1000 }}"
                  alt=""
                  loading="lazy"
                  width="auto"
                  height="auto"
                >

                <div class="ctm-megamenu-image-overlay">
                  {% if block.settings.image_heading != blank %}
                    <h4>{{ block.settings.image_heading }}</h4>
                  {% endif %}

                  {% if block.settings.image_subheading != blank %}
                    <p>{{ block.settings.image_subheading }}</p>
                  {% endif %}

                  {% if block.settings.custom_liquid != blank %}
                    <div class="">
                      {{ block.settings.custom_liquid }}
                    </div>
                  {% endif %}

                  {% if block.settings.button_text != blank %}
                    <a href="{{ block.settings.button_url  }}" class="button--ctm_global_button" aria-label="{{ block.settings.button_text | escape }}">
                      {{ block.settings.button_text }}
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="ctm-megamenu-right-wrapper">
        <div class="ctm-megamenu-right-wrapper-above">
          <div class="ctm-megamenu-left-links {% if block.settings.ctm_megamenu_links_heading != blank %} bg-grey {% endif %}">
            <div class="ctm-megamenu-links-column">
              <div class="ctm-megamenu-links-column-top">
                {% if block.settings.ctm_megamenu_links_heading != blank %}
                  <h6 class="ctm-megamenu-hover-links-heading">
                    {{ block.settings.ctm_megamenu_links_heading }}
                  </h6>
                {% endif %}

                {% if block.settings.ctm_megamenu_links != blank %}
                  <ul class="list-unstyled">
                    {% for link in block.settings.ctm_megamenu_links.links %}
                      <li class="ctm-megamenu-link-item">
                        <a
                          href="{{ link.url }}"
                          class="ctm-megamenu-hover-link {% if forloop.first %}active{% endif %}"
                          data-index="{{ forloop.index0 }}"
                          aria-label="{{ link.title | escape }}"
                        >
                          {{ link.title }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>

              <div class="ctm-megamenu-links-column-bottom">
                {% if block.settings.ctm_megamenu_button_text != blank %}
                  <div class="ctm-static-link">
                    <a href="{{ block.settings.ctm_megamenu_button_url }}" class="link" aria-label="{{ block.settings.ctm_megamenu_button_text | escape }}">
                      {{ block.settings.ctm_megamenu_button_text }}
                    </a>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>

          
          <div class="header-mega-menu__right">
            {% if block.type == 'mega_menu_collection' %}
              <div class="header-mega-menu__wrapper">
                <ul class="header-mega-menu__have-submenu__list list-unstyled" role="presentation">
                  {% for childlink in links %}
                    <li>
                      <div class="mega-menu-childlink-group">
                        <h3 class="mega-menu-childlink">
                          {{ childlink.title | escape }}
                        </h3>
                        <ul class="header-mega-menu__have-submenu__list-submenu list-unstyled">
                        {% for grandchildlink in childlink.links %}
                          {% assign new_links = section.settings.new_badge_links | split: ',' %}
                          <li class="{% if grandchildlink.current %}current-link{% endif %}">
                            <a
                              href="{{ grandchildlink.url }}"
                              class="link line-link"
                              aria-label="{{ grandchildlink.title | escape }}"
                            >
                              {{ grandchildlink.title | escape }}
                              {% for handle in new_links %}
                                {% if grandchildlink.url contains handle %}
                                  <span class="ctm-navigation-menu-badge">NEW</span>
                                {% endif %}
                              {% endfor %}
                            </a>
                          </li>
                        {% endfor %}
                        {% if forloop.last %}
                          {% if block.settings.ctm_extra_navigation_link_url != blank %}
                            <li class="ctm-static-link">
                              <a href="{{ block.settings.ctm_extra_navigation_link_url }}" class="link" aria-label="{{ block.settings.ctm_extra_navigation_link_text | escape }}">
                                {{ block.settings.ctm_extra_navigation_link_text }}
                              </a>
                            </li>
                          {% endif %}
                        {% endif %}
                      </ul>
                      </div>
                    </li>
                  {% endfor %}
                </ul>

                {% if block.settings.image_ctm != blank %}
                  <div class="header-mega-menu__card megamenu_image-ctm">
                    <img
                      src="{{ block.settings.image_ctm | image_url: width: 350 }}"
                      alt="{{ block.settings.image_title }}"
                      loading="lazy"
                    >
                    <a href="{{ block.settings.title_link }}" class="linktext_belowimage" aria-label="{{ block.settings.image_title | escape }}">
                      {{ block.settings.image_title }}
                    </a>
                  </div>
                {% endif %}
              </div>
            {% endif %}

            {% if block.type == 'mega_menu_only_collection' %}
              {% assign count = block.settings.collection_list | size %}
              <ul class="header-mega-menu__collection-list list-unstyled mega-menu__collection-{{ count }}">
                {% for collection in block.settings.collection_list %}
                  <li class="collections-grid__card color-background-4">
                    {% render 'collection-card',
                      block_collection: collection,
                      media_size: 'square',
                      url: collection.url,
                      collection_title: collection.title,
                      collection_image: collection.image,
                      overlay_enable: true
                    %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>

        <div class="ctm-megamenu-right-wrapper-below">
          <div class="ctm-megamenu-blue-footer">
            <div class="ctm-megamenu-content-wrapper">
              {% if block.settings.footer_navigation_menu != blank %}
                {% for link in block.settings.footer_navigation_menu.links %}
                  <div class="ctm-megamenu-content">
                    <a href="{{ link.url }}">
                      {{ link.title }}
                    </a>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mega-menu_overflow"></div>
