

<style>
	.article-card-row__image {
  padding-bottom: 66.6%; /* desktop + default */
}

@media screen and (max-width: 749px) {
  .article-card-row__image {
    padding-bottom: var(--mobile-aspect-ratio, 66%) !important;
  }

  .article-card-row__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
</style>

<article
  class="article-card-row{% if article.image == blank or show_image == false %} article-card--no-image{% endif %}"
  aria-labelledby="Article-{{ article.id }}"
>
  <div class="article-card-row__content motion-reduce">
    <div class="article-card-row__info">
      {%- if show_tags and article.tags != blank -%}
        <ul class="article-card-row__tags">
          {% for tag in article.tags %}
            <li class="article-card-row__tag">
              <a href="{{ blog.url }}/tagged/{{ tag | handle }}">
                <span title="{{ tag }}">{{ tag }}</span>
                {% render 'icon-button-arrow' %}
              </a>
            </li>
          {% endfor %}
        </ul>
      {%- endif -%}

      <span class="line-divider">{{ article.metafields.custom.article_title }}</span>

      <header class="article-card-row__header">
        <h6 class="article-card-row__title" id="Article-{{ article.id }}">
          <a href="{% if article.metafields.custom.url != blank %}{{ article.metafields.custom.url }}{% else %}{{ article.url }}{% endif %}" class="link-hover-arrow h6" {% if article.metafields.custom.url != blank %}target="_blank"{% endif %}>
            {{ article.title | escape }}
          </a>
        </h6>

        {% if article.metafields.custom.article_summary != blank %}
        <p class="article-card-row__summary" id="Article-{{ article.id }}">
          {{ article.metafields.custom.article_summary }}
        </p>
      {% endif %}

        <a class="article-card-row__link" href="{% if article.metafields.custom.url != blank %}{{ article.metafields.custom.url }}{% else %}{{ article.url }}{% endif %}" {% if article.metafields.custom.url != blank %}target="_blank"{% endif %}> READ NOW </a>

        <div class="article-card-row__meta">

          {%- if show_date -%}
            <span class="line-divider">{{ article.published_at | time_tag: '%B %d, %Y' }}</span>
          {%- endif -%}
          {%- if show_author -%}
            <span class="article-card-row__author line-divider">by<span>{{ article.author }}</span></span>
          {%- endif -%}
          {%- if article.comments_count > 0 and blog.comments_enabled? -%}
            <span>{{ 'blogs.article.comments' | t: count: article.comments_count }}</span>
          {%- endif -%}
        </div>
      </header>

      {%- if show_excerpt and article.excerpt_or_content.size > 0 -%}
        <p class="article-card-row__excerpt">{{ article.excerpt_or_content | strip_html | truncate: 70 }}</p>
      {%- endif -%}
    </div>

    <a class="article-card-row__link" href="{{ article.url }}" aria-label="{{ 'accessibility.article_link' | t }}"></a>
  </div>

    <a class="article-card-row__link" href="{% if article.metafields.custom.url != blank %}{{ article.metafields.custom.url }}{% else %}{{ article.url }}{% endif %}" {% if article.metafields.custom.url != blank %}target="_blank"{% endif %}>
    <div class="article-card-row__image-wrapper">
      {%- if show_image == true and article.image -%}

{% assign mobile_image = article.metafields.custom.article_mobile_image.value %}

<div 
  class="article-card-row__image media"
  {% if mobile_image %}
    style="--mobile-aspect-ratio: {{ 1 | divided_by: mobile_image.aspect_ratio | times: 100 }}%;"
  {% endif %}
>


  <picture>
    {% if mobile_image %}
      <!-- Mobile image -->
      <source
        media="(max-width: 749px)"
        srcset="
          {{ mobile_image | img_url: '360x' }} 360w,
          {{ mobile_image | img_url: '533x' }} 533w,
          {{ mobile_image | img_url: '720x' }} 720w
        "
        sizes="100vw"
      >
    {% endif %}

    <!-- Desktop image -->
    <img
      srcset="
        {%- if article.image.src.width >= 165 -%}{{ article.image.src | img_url: '165x' }} 165w,{%- endif -%}
        {%- if article.image.src.width >= 360 -%}{{ article.image.src | img_url: '360x' }} 360w,{%- endif -%}
        {%- if article.image.src.width >= 533 -%}{{ article.image.src | img_url: '533x' }} 533w,{%- endif -%}
        {%- if article.image.src.width >= 720 -%}{{ article.image.src | img_url: '720x' }} 720w,{%- endif -%}
        {%- if article.image.src.width >= 940 -%}{{ article.image.src | img_url: '940x' }} 940w,{%- endif -%}
        {%- if article.image.src.width >= 1066 -%}{{ article.image.src | img_url: '1066x' }} 1066w{%- endif -%}
      "
      src="{{ article.image.src | img_url: '533x' }}"
      sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), 100vw"
      alt="{{ article.image.alt | escape }}"
      width="{{ article.image.width }}"
      height="{{ article.image.height }}"
      loading="lazy"
      class="motion-reduce"
    >
  </picture>
</div>

      {%- endif -%}
    </div>
  </a>
</article>
